<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.banchoobot.mappers.TaskMapper">
    <resultMap id="taskMap" type="org.banchoobot.entities.pojo.TaskBean">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result property="taskId" column="task_id" javaType="java.lang.Integer"/>
        <result property="osuUid" column="osu_uid" javaType="java.lang.Integer"/>
        <result property="qq" column="qq" javaType="java.lang.Long"/>
        <result property="hintGroup" column="hint_group" javaType="java.lang.Long"/>
        <result property="taskCode" column="task_code" javaType="java.lang.String"/>
        <result property="isComplete" column="is_complete" javaType="java.lang.Boolean"/>
    </resultMap>

    <select id="selectTasks" resultType="org.banchoobot.entities.pojo.TaskBean">
        select * from tasks where osu_uid = #{uid}
    </select>

    <select id="selectUncompletedTasks" resultType="org.banchoobot.entities.pojo.TaskBean">
        select * from tasks where is_complete = false
    </select>

    <update id="completeTask">
        update tasks set is_complete = true WHERE task_id = #{taskId}
    </update>

    <insert id="insertTask">
        insert into tasks (osu_uid,qq,hint_group,task_code) values (#{osuUid},#{qq},#{hintGroup},#{taskCode})
    </insert>
</mapper>